<div class="row">
    <form id="add_image_form" class="container" enctype="multipart/form-data">
        <div class="col s12">
            <div class="input-field col s12">
                <i class="fa fa-info prefix" aria-hidden="true"></i>
                <input id="title" type="text" name="title" class="validate" required onkeyup="check_send_image_form()"  minlength="5" />
                <label for="title">Titre</label>
            </div>
            <div class="input-field col s12">
                <i class="fa fa-info prefix" aria-hidden="true"></i>
                <textarea id="description" type="text" name="description" class="materialize-textarea" required onkeyup="check_send_image_form()" minlength="5" ></textarea>
                <label for="description">Desctiption</label>
            </div>
        </div>
        <div class="col s12">
            <div class="file-field input-field">
                <div class="btn waves-effect blue col s4 offset-s4">
                    <span><i class="fa fa-picture-o " aria-hidden="true"></i> Image</span>
                    <input type="file" onchange="check_send_image_form()" id="photo" name="photo" required accept="image/jpeg" >
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>          
        </div>
    </form>  

</div>
<div class="card-action">
    <button id="send_image_button" class="btn waves-effect green disabled" onclick="send_image()"><i class="fa fa-upload" aria-hidden="true"></i> Envoie</button>
</div> 