<div class="row">
    <form id="user_change_password_form" class="container">
            <p><small><i><b>Conseil:</b> Choisissez des mots de passe d’au moins 8 caractères de types différents (majuscules, minuscules, chiffres, caractères spéciaux).</i></small></p>

        <div class="input-field col s12">
            <i class="fa fa-unlock-alt prefix" aria-hidden="true"></i>
            <input id="old_password" name="old_password" type="password" class="validate" required minlength="6" onkeyup="check_user_change_password_form()">
            <label for="old_password">Mot de passe actuel</label>
        </div>
        <div class="input-field col s12">
            <i class="fa fa-lock prefix" aria-hidden="true"></i>
            <input id="new_password" name="new_passwor" type="password" class="validate" required minlength="6" onkeyup="check_user_change_password_form()">
            <label for="new_password">Nouveau mot de passe</label>
        </div>
        <div class="input-field col s12">
            <i class="fa fa-lock prefix" aria-hidden="true"></i>
            <input id="confirm_new_password" name="confirm_new_password" type="password" class="validate" required minlength="6" onkeyup="check_user_change_password_form()">
            <label for="confirm_new_password">confirmez le nouveau mot de passe</label>
        </div>
        <h5 class="center">Vous serez déconnecter</h5>

    </form>  
</div>
<div class="card-action center">
    <button id="user_change_password_button" class="btn waves-effect green disabled" onclick="confirm_user_change_password()"><i class="fa fa-wrench" aria-hidden="true"></i> Confirmer</button>
</div> 