a{
    cursor: pointer;
}

div.row.content{
   height: calc(100vh - 113px);
    background-size: cover;
    padding-top: 10px!important;
}

div.row.content>div{
    height: 100%;
    overflow-y: scroll;
}


div.row ul.tabs li a{
    color: white!important;
}

div.row ul.tabs li a:hover{
    background-color: #3b96e2;
}
div.row ul.tabs li.indicator{
    background-color: #3b96e2;
}

object#event_pdf{
    width: 100%;
    height: calc(75vh - 150px);
}

div.card{
    overflow: hidden;
}

div.card .card-title{
    padding: 5px 20px;
}


div#actualite_content div.card.blog_post_excerpt{
    height: auto!important;
}

a.back_home{
    position: fixed;
    left: -5px;
    bottom: -5px;
}

#entrainements *, #apropos *{
    color: black;
}

.post_comment{
    overflow-y: scroll;
    min-height: 200px;
    max-height: 400px;
}