{% extends "template.twig" %}

{% block head %}
        <link rel="stylesheet" href="/uscv/site/assets/css/home.css">

    <title>Home !</title>
{% endblock %}

{% block content %}
{#    <div class="slider">
        <ul class="slides">
        </ul>
    </div>#}

    
      
  <video class="responsive-video" autoplay muted loop>
    <source src="/uscv/site/assets/video/home.mp4" type="video/mp4">
  </video>
        
        
    
    
    <div class="row bottom_nav">
        <div class="col s12 black">
            <ul class="tabs black center">
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('club') }}">Le Club</a>
                </li>
                <li class="tab col s3">
                    <a href="#evenements">Activités</a>
                </li>
                <li class="tab col s3">
                    <a href="#pratiques">Reservation</a>
                </li>
                <li class="tab col s3">
                    <a href="#entrainements">Location</a>
                </li>
            </ul>
        </div>
    </div>
        
{% endblock %}

{% block end_script %}
    <script>
{#        document.addEventListener("DOMContentLoaded", function (e) {
            $.getJSON(API_URL + "/slide", (data) => {
                if(data.length > 0){
                    for(let slide of data){
                        let li = document.createElement("li");
                        let img = document.createElement("img");
                        let div = document.createElement("div");
                        let h3 = document.createElement("h3");
                        let h5 = document.createElement("h5");
                        img.src = slide.img_url;
                        div.className = "caption " + slide.position + " left-align";
                        h3.innerHTML = slide.title;
                        h5.innerHTML = slide.content;
                        li.appendChild(img);
                        li.appendChild(div);
                        div.appendChild(h3);
                        div.appendChild(h5);
                        document.querySelector("ul.slides").appendChild(li);                        
                    }
                    $('.slider').slider({height: 1});
                }
            });
            
        })#}
    </script>
{% endblock %}