{% extends "template.twig" %}

{% block head %}

    <link rel="stylesheet" href="/assets/css/location.css">
    <script src="/assets/js/location.js"></script>
    <title>Locations</title>
{% endblock %}

{% block content %}
    <div class="row content">
        <div class="container">
            <h1>Tarifs des Locations <a class='btn-floating blue' onclick="add_location_price()"><i class='fa fa-plus' aria-hidden='true'></i></a></h1>
            <div class="row location">
            </div> 
        </div> 
    </div>

    <div class="row bottom_nav">
        <div class="col s12 black">
            <ul class="tabs black center">
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('club') }}">Le Club</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('activite') }}">Activités</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('reservation') }}">Reservation</a>
                </li>
                <li class="tab col s3">
                    <a target="_self" href="{{ path_for('location') }}">Location</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block end_script %}
    <script>



    </script>
{% endblock %}